.power-grid {
  //background-color: red;
  position: relative;
  overflow: hidden;


  .power-grid-background-grid {
    position: absolute;
    overflow: hidden;
    
  }

  .power-grid-scene-grid {
    overflow: scroll;
    position: absolute;
    overflow: scroll;


    .power-grid-shadow-content {
      position: absolute;
    }
  }

  .power-grid-cell {
    position: absolute;

    > div {
      width: 100%;
      height: 100%;
    }
  }

  &.hide-scrollbars {
    .power-grid-scene-grid {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
    }
  }
}