.power-grid {
  background-color: red;
  position: relative;
  overflow: hidden;
  display: inline-block;

  .shadow-grid {
    overflow: scroll;
  }
  .scene-grid {
    overflow: hidden;
  }



  .power-grid-cell {
    position: absolute;

    > div {
      width: 100%;
      height: 100%;
    }
  }
}