.power-grid {
  background-color: red;
  position: relative;
  overflow: hidden;
  display: inline-block;

  .power-grid-shadow-grid {
    overflow: scroll;
  }

  .power-grid-scene-grid {
    overflow: hidden;
    //z-index: 999;
  }

  .power-grid-cell {
    position: absolute;

    > div {
      width: 100%;
      height: 100%;
    }
  }
}